.navbar-fixed{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about {
    padding: 20px 0;
    font-size: larger;
    font-family: Footlight MT Light;
    background-image: url(../image/latar.png) !important;
    display: flex;
}
.parallax-container {
    height: 24%;
    display: flex;
}
.parallax {
    height: 24%;
    filter: grayscale(1) ;
    opacity: initial;
    display: flex;
}


.follow h4 {
    font-family: Footlight MT Light;
    text-align: center;
}
.contact{
    font-family:  Footlight MT Light;
}
.question{
    font-family: Footlight MT Light;
    background-image: url(../image/latar.png) !important;
    display: flex;
}
.collapsible {
    font-size: large;
}

content, footer {
    padding: 20px 0;
    background-position: center;
    font-family: Footlight MT Light;
}