body {
    background-image: url(../image/registrasi.png) !important;
}
.navbar-fixed{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.profile{
    font-size: larger;
    font-family: Footlight MT Light;
}
.jobs{
    font-size: larger;
    font-family: Footlight MT Light;
}
content, footer {
    padding: 20px 0;
    background-position: center;
    font-family: Footlight MT Light;
}